@tailwind base;
@tailwind components;
@tailwind utilities;

.spin {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* border: 1px solid #ccc; */
  /* -webkit-text-fill-color: #; */
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

button,
fieldset,
input,
legend,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Hide scrollbar for Webkit browsers */
::-webkit-scrollbar {
  display: none;
}

.videoask-embed__button--SgLKO,
.videoask-embed__button_bottom--BJIcx {
  margin-bottom: 30px !important;
}

@media (max-width: 767px) {
  .videoask-embed__button--SgLKO,
  .videoask-embed__button_bottom--BJIcx {
    margin-bottom: 80px !important  ;
  }
}

/* Hide default Street View controls */
.gm-style .gm-style-pbc {
  display: none !important;
}

.gm-style .gm-style-pbt {
  display: none !important;
}

.Toastify__toast-container {
  padding: 0;
}

.Toastify__toast {
  padding: 0 !important;
  background: transparent;
  box-shadow: none;
  min-height: auto !important;
  height: auto !important;
}

.Toastify__toast-body {
  padding: 0 !important;
}

.custom-toast-container {
  margin: 8px;
}

/* Optional: Remove the default close button if you're using a custom one */
.Toastify__close-button {
  display: none;
}

/* Success progress bar (green) */
.progress-success {
  background-color: #4caf50 !important; /* Green */
}

/* Error progress bar (red) */
.progress-error {
  background-color: #f44336 !important; /* Red */
}

/* Warning progress bar (yellow) */
.progress-warning {
  background-color: #ff9800 !important; /* Yellow */
}

/* Info progress bar (blue) */
.progress-info {
  background-color: #2196f3 !important; /* Blue */
}
